@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

$kumbhFont: 'Kumbh Sans', sans-serif;

$primary--100: hsl(26, 100%, 55%);
$primary--200: hsl(25, 100%, 94%);

$neutral--100: hsl(220, 13%, 13%);
$neutral--200: hsl(219, 9%, 45%);
$neutral--300: hsl(220, 14%, 75%);
$neutral--400: hsl(223, 64%, 98%);
$neutral--500: hsl(0, 0%, 100%);
$neutral--600: hsl(0, 0%, 0%);
// neutral--600 (with 75% opacity for lightbox background)

html,
body {
	// overflow-x: hidden;
}

body {
	// position: relative;
	font-family: $kumbhFont;
	font-size: 16px;
	font-weight: 400;
}

// components
.orangeBtn {
	background-color: $primary--100;
	color: $neutral--500;

	&:hover {
		background-color: $primary--200;
	}
}

// navbar section
.navLinks {
	position: relative;
	color: $neutral--100;
	opacity: 0.8;
	transition: all 0.2s ease-in;
	cursor: pointer;

	&:hover {
		color: $neutral--600;
		opacity: 1;
	}

	&::before {
		transition: 300ms;
		height: 5px;
		content: '';
		position: absolute;
		background: $primary--100;
	}
}

.navGrow {
	&::before {
		height: 0%;
		width: 100%;
		bottom: -200%;
	}

	&:hover {
		&::before {
			height: 5px;
		}
	}
}

.hero {
	&__logoBrand {
		color: $primary--100;
		font-weight: 700;
		opacity: 0.7;
	}

	&__title {
		color: $neutral--100;
		font-weight: 700;
	}

	&__description {
		opacity: 0.7;
	}

	&__updatePrice {
		font-weight: 700;
	}

	&__discountPrice {
		background-color: $primary--200;
		color: $primary--100;
		font-weight: 700;
	}

	&__incrementBtn {
		color: $primary--100;
		font-weight: 700;
	}
}
